<!DOCTYPE html>
<html>
<head>
  <title>Layout</title>
  <link rel="stylesheet" href="animate.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body style="background-color:<%= @color %>;">

  <main>
    <%= yield %>
  </main>
</body>
</html>

