<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
 

<p class="animated pulse">
  <%= @compliment %>
</p>

<button><a href="http://localhost:4567/">Enjoy a new Geeky pick up line</a></button>

</body>
</html>
